.tweetContainer {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  border-bottom-color: rgb(194, 189, 189);
  padding-left: 3vh;
}

.avatar {
  border-radius: 50%;
  height: 5vh;
  margin-top: 5px;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1vh;
}

.username {
  font-weight: bold;
  margin-left: 4px;
}

.tweet {
  margin-top: 12px;
  font-size: 2vh;
  margin-bottom: 12px;
}

.like {
  margin-bottom: 5px;
}

.firstname {
  font-weight: 300;
  opacity: 60%;
}
