.input {
  background-color: #151d27;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
}

.signup {
  margin-top: 7%;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  height: 3em;
  width: 14em;
  font-weight: bold;
  cursor: crosshair;
}

.logoModal {
  height: 20%;
}

.logoModal {
  height: 9vh;
}
