.home {
    margin-left: 50px;
}

.tweetContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tweetInput {
    width : 500px;
    height : 50px
}

.tweetDiv {
    display:flex;
    direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
}

.tweetButton {
    height: 30px;
    margin-left:10px;
}