.home {
    margin-left: 50px;
}

.tweetContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tweetInput {
    width : 500px;
    height : 50px;
    background-color: #151d27;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: white;
}

.tweetDiv {
    display:flex;
    direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
    margin-top: 25px;
}

.tweetButton {
    height: 30px;
    margin-left:10px;
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    width:100px;
    font-size: 14px;
}

.caracterCount {
    font-size: 22px;
    margin-right: 20px;

}